.program {
	@extend %page-padding-sm;

	td {
		/*line-height: 35px !important;*/
		vertical-align: middle;
	}

    td strong, td small {
        padding: 0px !important;
    }

	table > tbody > tr:nth-child(1) > td:nth-child(1) {
		border-top: inherit;
	}

	table > tbody > tr:nth-child(1) > td:nth-child(2) {
		border-top: inherit;
	}

	table > tbody > tr > td:nth-child(1) {
		color: #4c5099;
	}
}
